@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #FFCB45;
  --second-color: #054F48;
  --title-color: #1D1D1D;
  --body-color: #fff;
  --text-color: #575757;

  /*========== Font and typography ==========*/
  --body-font: 'Inter', sans-serif;
  --title-font: 'Open Sans', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  --smaller-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1023px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  list-style: none;
  border: none;
  font-family: var(--body-font);
}

/*========== REUSABLE CSS CLASSES  ==========*/

.section {
  padding-block: 5rem 1rem;
}

.section__subtitle,
.section__title {
  text-align: center;
}

.section__subtitle {
  color: var(--second-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.section__title {
  color: var(--title-color);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  line-height: 36px;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/*========== BUTTONS  ==========*/
.button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--second-color);
  background-color: var(--first-color);
  font-weight: var(--font-semi-bold);
  transition: background .3s;
}

.button:hover {
  background-color: #ffc73b;
}

/*========== SCROLL BAR  ==========*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6f6;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--second-color);
  border-radius: 1rem;
}

/*========== BREAKPOINTS  ==========*/
@media screen and (min-width: 576px) {
  
}

@media screen and (min-width: 767px) {
  .hero__container {
    grid-template-columns: 300px 370px;
    justify-content: center;
    column-gap: 3rem;
  }

  .services__container {
    grid-template-columns: repeat(2, 260px) !important;
    column-gap: 2rem;
  }

  .menu__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
    align-items: flex-start;
  }

  .about__container {
    grid-template-columns: 300px 370px;
    justify-content: center;
    column-gap: 3rem;
  }

  .app__container {
    grid-template-columns: 300px 350px;
    justify-content: center;
    column-gap: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 200px);
    row-gap: 5rem !important;
    justify-content: space-between;
  }
}

@media screen and (min-width: 976px) {
  .footer__container {
    grid-template-columns: repeat(4, 200px);
  }

  .services__container {
    grid-template-columns: repeat(3, 260px) !important;
  }
}

@media screen and (min-width: 1023px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row !important;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav {
    height: calc(var(--header-height) + 1rem) !important;
  }

  .nav__link {
    font-size: initial !important;
  }
  .hero__container {
    grid-template-columns: 500px 400px;
    align-items: center;
  }

  .hero__image {
    z-index: -1;
    width: 350px !important;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}