/*========== HERO SECTION  ==========*/
.hero__container {
  padding-top: 2rem;
  row-gap: 3rem;
}

.hero__subtitle {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--second-color);
  font-weight: var(--font-medium);
  background-color: #fffaed;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.hero__subtitle-icon {
  width: 20px;
}

.hero__title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  font-family: var(--title-font);
  margin-bottom: 1rem;
}

.hero__title span {
  color: var(--second-color);
}

.hero__description {
  line-height: 21px;
  margin-bottom: 2rem;
}

.hero__buttons {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 3rem;
}

.hero__button-video {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  column-gap: 0.7rem;
  border-radius: 2rem;
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  background-color: transparent;
}

.button__video {
  box-shadow: 0px 7px 12px 0px rgba(219, 219, 219, 0.25);
  display: inline-flex;
  padding: 0.8rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.button__video i {
  color: var(--first-color);
  font-size: 1.25rem;
}

.data__bottom-top {
  display: inline-flex;
  align-items: center;
}

.data__bottom {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.data__bottom-bottom h3 {
  font-size: 12px;
  color: var(--title-color);
}

.data__bottom-review {
  font-size: 12px;
}

.data__bottom-review span {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-right: 0.25rem;
}

.data__bottom-review i {
  font-size: 16px;
  color: var(--first-color);
}

.data__bottom-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.data__bottom-top img {
  width: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.hero__image {
  position: relative;
  width: 300px;
  justify-self: center;
}

.hero__grafio-1,
.hero__grafio-2 {
  position: absolute;
}

.hero__grafio-1 {
  width: 24px;
  right: 2rem;
  top: 1rem;
}

.hero__grafio-2 {
  width: 42px;
  top: 1rem;
  left: 0.5rem;
  transform: rotate(-20deg);
}

.hero__circle-2 {
  position: absolute;
  top: 10rem;
  left: -1rem;
  width: 12px;
}

.hero__geometric-1 {
  position: absolute;
  bottom: 7rem;
  right: -1.5rem;
  width: 12px;
}

.hero__geometric-2 {
  position: absolute;
  bottom: -1.5rem;
  left: 3.5rem;
  width: 12px;
}

.image__data-left {
  background-color: #fffaed;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.image__data-left img {
  width: 20px;
}

.content__left {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.image__data-title {
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

.image__data-mid span {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}

.image__data {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  position: absolute;
  padding: 0.5rem 0.5rem;
  background-color: var(--body-color);
  box-shadow: 0px 27px 30px 0px rgba(219, 219, 219, 0.25);
  border-radius: 2rem;
  bottom: 4rem;
  left: -1.5rem;
}

.image__data-icon {
  background-color: var(--first-color);
  display: inline-flex;
  padding: 0.6rem;
  border-radius: 50%;
}

.image__data-icon i {
  font-size: 1rem;
  color: #fff;
}

.pizza__image {
  border-radius: .5rem;
  width: 60px;
}

.pizza__image img {
  border-radius: .5rem;
}

.image__data-2 {
  cursor: pointer;
  bottom: -3rem;
  right: -1rem;
  background-color: var(--body-color);
  padding: 0.5rem;
  border-radius: 0.8rem;
  position: absolute;
  box-shadow: 0px 27px 30px 0px rgba(219, 219, 219, 0.25);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.pizza__review i {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}

.pizza__title {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.pizza__price {
  margin-top: 0.4rem;
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.pizza__price span {
  color: var(--second-color);
  font-size: var(--smaller-font-size);
}

/*========== BREAKPOINTS  ==========*/
@media screen and (min-width: 576px) {
  .hero__data {
    display: grid;
    grid-template-columns: 350px;
  }
}

@media screen and (min-width: 767px) {
  .hero__container {
    grid-template-columns: 300px 370px;
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 976px) {
}

@media screen and (min-width: 1023px) {
  .hero__container {
    grid-template-columns: 500px 400px;
    align-items: center;
  }

  .hero__data {
    display: grid;
    grid-template-columns: initial;
  }

  .hero__image {
    z-index: -1;
    width: 350px;
  }
}

@media screen and (min-width: 1152px) {
}
