.details__container {
  grid-template-columns: 300px;
  display: grid;
  row-gap: 1rem;
  justify-content: center;
}

.details__image {
  justify-self: center;
}
.details__image img {
  width: 300px;
  border-radius: 1rem;
}

.details__title {
  font-size: 1.25rem;
  color: #1d1d1d;
}

.details__review,
.details__review-stars {
  display: flex;
  align-items: center;
}

.details__review-stars {
  margin-right: 0.5rem;
}

.details__review {
  margin-bottom: 1rem;
  column-gap: 0.25rem;
}

.details__review-stars i {
  color: #ffcb45;
}

.details__review span {
  color: #575757;
  font-weight: 500;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.details__content-price {
  font-size: 1.25rem;
  color: #1d1d1d;
  margin-bottom: 1.5rem;
}

.details__content-description {
  font-size: 0.875rem;
  line-height: 21px;
  color: #575757;
  margin-bottom: 2rem;
}

.details__button {
  display: inline-block;
  background-color: #ffcb45;
  cursor: pointer;
  padding: 0.875rem 2.5rem;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #054f48;
}

.details__tabs {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.tab__button {
  color: #1d1d1d;
  font-weight: 500;
  transition: color 0.3s;
}

.tab__button:hover {
  color: #054f48;
}
