.food__actions-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.food__actions-subtitle {
    color: var(--second-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: .5rem;
}

.food__menu-content {
    padding-bottom: 2rem;
}

.food__actions-title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
}

.food__actions-cart {
    display: inline-flex;
    padding: .8rem;
    font-size: 1.25rem;
    border: 1px solid #eaeaea;
    border-radius: 50%; 
}

.food__menu-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.food__menu-title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.food__menu-link {
    color: var(--second-color);
    cursor: pointer;
}

.food__menu-card {
    padding: .5rem .5rem .8rem .5rem;
    width: 210px;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s;
}

.food__menu-card:hover {
    box-shadow: 0px 0px 12px #acacac33;
}

.food__menu-card img{
    margin-bottom: .5rem;
}

.food__card-name {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.food__card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food__card-discount {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.food__card-review i{
    color: var(--first-color);
    margin-right: .2rem;
    font-size: var(--normal-font-size)
}

.food__card-review span{
    font-size: var(--smaller-font-size);
    margin-left: .2rem;
    font-weight: var(--font-medium);
}

.card__bottom-actions {
    padding: 1rem 0 .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__price {
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.food__card-percent {
    display: inline-flex;
    padding: .25rem .6rem;
    background-color: #FFEEEE;
    color: #FF4E4E;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    border-radius: 10px;
}

.card-button {
    padding: .5rem 1.5rem;
}

.food__card-priceold {
    text-decoration: line-through;
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.food__category-title {
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

.food__category-options {
    box-shadow:  0px 10px 20px 0px rgba(219, 219, 219, 0.233);
    cursor: pointer;
    text-align: center;
    width: 64px;
    padding: .5rem .5rem;
    border-radius: 2rem;
    transition: .4s;
}

.food__category-options:hover {
    background-color: var(--first-color);
}

.food__category-circle {
    background-color: #fff;
    display: inline-flex;
    border-radius: 50%;
    padding: .8rem;
}
.food__category-circle img {
    width: 32px;
}

.food__category-name {
    padding: 1rem 0;
    color: var(--second-color);
    font-size: var(--normal-font-size);
} 