.foods__container {
  padding-top: 7rem;
  row-gap: 2.5rem;
  grid-template-columns: 300px;
  justify-content: center;
}

.foods__data {
  text-align: center;
  display: grid;
  row-gap: 1rem;
}

.foods__data-subtitle {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #054f48;
  margin-bottom: 0.75rem;
}

.foods__data-title {
  font-size: 2rem;
  color: #1d1d1d;
  text-transform: capitalize;
}

.foods__data-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.foods__data-form div {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  background-color: #f6f6f6;
  padding: 1.125rem 1.25rem;
  border-radius: 2rem;
}

.foods__data-form div i {
  font-size: 1.25rem;
}

.foods__from-input {
  background: transparent;
  width: 100%;
}

.foods__from-input::placeholder {
  font-size: 0.875rem;
  color: #767676;
}

.foods__content {
  justify-content: center;
  gap: 2rem;
}

.foods__buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.arrow__button {
  background-color: #054f48;
  color: #fff;
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.25rem;
}

.foods__buttons button {
  background-color: #f6f6f6;
  color: #054f48;
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1.25rem;
  font-weight: 600;
}

.button-auto {
  padding: 1rem 4rem;
  margin: 0 auto;
}

.active__page {
  background-color: #ffcb45;
}

/* ====== BREAKPOINTS ====== */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .foods__content {
    grid-template-columns: repeat(2, 260px);
  }

  .foods__container {
    grid-template-columns: 400px;
  }
}

@media screen and (min-with: 1023px) {
}

@media screen and (min-width: 1120px) {
  .container {
    margin-inline: auto;
  }
  .foods__data {
    row-gap: 3rem;
  }

  .foods__content {
    grid-template-columns: repeat(3, max-content);
  }

  .foods__container {
    grid-template-columns: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .foods__container {
    row-gap: 4rem;
    grid-template-columns: 500px;
  }

  .foods__data-form div {
    margin-bottom: 1.25rem;
  }

  .foods__content {
    grid-template-columns: repeat(4, max-content);
  }
}
