.footer__container {
  row-gap: 2rem;
  padding-bottom: 3rem;
  justify-content: center;
}

.footer__content {
  row-gap: 3.5rem;
}

.footer__data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__description {
  margin-top: 0.5rem;
  grid-template-columns: 300px;
  line-height: 21px;
}

.footer__title {
  margin-bottom: 1rem;
  color: var(--title-color);
}

.footer__links {
  display: grid;
  row-gap: 0.8rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--second-color);
}

.footer__form-description {
  margin-bottom: 2rem;
  line-height: 21px;
}

.footer__input {
  position: relative;
  padding: 1rem 1rem;
  border-radius: 2rem;
  border: 1px solid #eaeaea;
  outline: none;
}

.footer__input::placeholder {
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.footer__relative {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.footer__relative i {
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  color: var(--first-color);
  right: 1.25rem;
  transition: 0.3s;
}

@media screen and (min-width: 576px) {
  .footer__description {
    grid-template-columns: 300px;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 767px) {
  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1rem;
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
  }

  .footer__description {
    grid-template-columns: 220px;
  }
}

@media screen and (min-width: 976px) {

}

@media screen and (min-width: 1023px) {
  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
